#moon {
	text-align:center;
	color:red;
}
.sun {
	text-align:center;
	color:blue;
}
#virat {
	text-align:center;
	color:green;
}
div p{
	background-color:yellow;
}
div >p {
	background-color:pink;
}
div + p{
	background-color:red;
}
div ~ p{
	background-color:green;
}
.star {
	text-align:center;
	color:gray;
}
a[target="_blank"]{
	background-color:yellow;
}	
